*.zip

*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*/.auctex-auto
*.out
*.gnuplot

*/_minted*

# VSCode editor config is part of the template
# Uncomment once you start working on the project
# /.vscode